header{
     display: flex;
     background-color:rgb(35, 200, 35);
     border-color:black;
     border-style:solid;
     border-radius:3px;
     justify-content: space-between ;
}
header h1{
     color:black;
     text-decoration-color: white;
     text-decoration:underline;    
     font-size:2,6rem;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
     display:flex;
}
.logo h1{
     padding-top: 25px;
}

*{
     list-style: none;
}

.lista{
     background-color:rgb(67, 172, 67);
     border-radius:5px;
     border-style:solid;
     border-color:black;
     margin :5px;
     margin-left:0px;
     width:250px;
     align-self: center;
}    

.menu{
     padding-left:0px ;
     padding-right:15px;
     padding-top: 5px;
     padding-bottom: 5px;
     display: inline-block;
     margin-right: 10px;
}

.menu a{
     font-size:25px;
     justify-self:center ;
     text-decoration: none;
     padding-left: 0px;
     color :black;

}

.menu a:hover{
     color: aquamarine;
}

.submenu{
     display:none;
     padding-left:0px ;
}

.submenu a:hover{
     color: aqua;
}

.menu li:hover .submenu{
     display:block
}

